DirectoryIndex rotas.php

ErrorDocument 400 /?status=400
##ErrorDocument 401 /?status=404
ErrorDocument 403 /?status=404
ErrorDocument 404 /?status=404
ErrorDocument 405 /?status=405
ErrorDocument 408 /?status=408
ErrorDocument 429 /?status=429


RewriteEngine on
RewriteBase /

# Reescrita interna da URL "code" para enviar tudo para o gz.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^code/?$ gz.php [L,QSA]

## Redirecionar tudo para 'rotas.php'
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ rotas.php [L]

## Bloquear acesso a dados específicos
RewriteRule ^(.*/)?\.git+ - [R=404,L]
RewriteRule ^(.*/)?\.env+ - [R=404,L]
RewriteRule ^(_web_server|db|testes) - [R=404,L]

## Configurações específicas para ambiente Docker
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_flag log_errors on