:root {
  /* --light: #b9b3aa; */
  --light_blue: #e6f0f9;
}

/* CSS da página principal */
.ferramentas_hover {
  padding: 0.20rem; /* classe Bulma = column */
}
.ferramentas_hover:hover {
  background-color: var(--light_blue);
  cursor: pointer;
}

.paraEstatisticas { /* bloco de destaque Estatísticas = section container */
  cursor: pointer;
}

/* tamanho de imagens da página principal */
.image.is-220x220 {
  height: 220px;
  width: 220px;
}

/* CSS da página de Estatísticas */
.fadeIn {
  opacity: 1;
  transition: 1s;
}

.fadeOut {
  opacity: 0;
  transition: 1s;
}

.table tbody tr { font-weight: normal; }
.table tbody tr a { color: #363636; }
.table tbody tr a:hover { text-decoration: underline; }

.table tbody tr:nth-child(even) { background-color: #f2f2f2; }
.table tbody tr:nth-child(even):hover,
.table tbody tr:nth-child(odd):hover {  
  background-color: var(--light_blue); /* font-weight: bold; */
}

.table .right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1rem;
}
