:root {
  --shadowDark: #D9DDE6;
  --shadowLight: #EFF5FE;
  --background: #E4E9F2;
}

body {
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

.box {
  /* margin-top: 5rem; */
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

input { font-weight:300; }
/* input { font-weight:300; background: var(--shadowDark) !important; } */

a { font-weight:600; }
p { font-weight:700; }

.has-text-black {
  color: black;
}

/* .field { padding-bottom: 10px; } */
