/*
  Configuração de CSS padrão para todas as páginas
  e redefinição de valores para Zero
*/


/* Reset para padding, margin e borda */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Configuração Padrão de CSS */
html {
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 500ms ease; /* parte do efeito - DARK-MODE - */
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
}

body,
section,
footer {
    background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

abbr[title] {
   cursor: help;
}

abbr[title].abbr_noStyle {
  border: none;
  text-decoration: none;
}


/*
  - DARK-MODE -
  https://gist.github.com/aaronice/5c083b9a8a3cbee29c7cd6bf3c708233
  background-color: #1e2021 #181a1b;
*/
html.dark_mode {
  filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;
  -ms-filter: invert(100%);
  -webkit-filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -webkit-image-rendering: optimizeSpeed;
}

.dark_mode svg,
.dark_mode img,
.dark_mode canvas,
.dark_mode video,
.dark_mode iframe,
.dark_mode *[style*='url('] {
  filter: invert(100%) hue-rotate(-180deg) !important;
  -ms-filter: invert(100%) !important;
  -webkit-filter: invert(100%) hue-rotate(-180deg) !important;
}

.dark_mode input {
  color: purple;
}

.dark_mode input::placeholder,
.dark_mode input::-ms-input-placeholder {
  /* color: lightblue; */
  color: red !important;
  opacity: 1;
}
