/* Reset para padding, margin e borda */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Configuração padrão do Body */
body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
}

